.CardTemplate{
  width: 24%;
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
    flex-basis: 38%;
    background-color: #d61021;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(30, 18, 196, 0.767);
}


.inside{
  margin: 1rem , auto;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.personname{
  color: #ffffff;
}

.BACK{
  background-image: url("https://cdna.artstation.com/p/assets/images/images/048/359/618/4k/etienne-beschet-rd-swr-lvl-coruscant-temple-jedi-archives-20.jpg?1649847773")
  
}

.TII{
  background-color: #b60c0c;
  color: #ffffff;
  
}


.Page1{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


.Page2{ background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;}